<div id="deleteModal" class="modal">
  <div class="modal-content">
    <h3>Confirm Delete</h3>
    <p>Are you sure you want to delete <span id="item-name"></span>?</p>

    <form id="deleteForm" action="" method="POST">
      <input type="password" id="password-input" name="admin_password" placeholder="Enter admin password" required />
      <div class="button-group">
        <button type="submit" class="btn-delete">Yes, Delete</button>
        <button type="button" id="cancelBtn" class="btn-cancel">Cancel</button>
      </div>
    </form>
  </div>
</div>
