<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Book</title>
    <link rel="stylesheet" href="/styles/default.css">
    <link rel="stylesheet" href="/styles/new-book.css" />
  </head>
  <body>
    <div class="container">
      <%- include('../header') %>
      <div class="form-container">
        <%- include('../error') %> 
        <%- include('form') %>
      </div>
    </div>
  </body>
</html>
