<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Delete Book</h1>
        <p>Are you sure you want to delete the book: "<%= bookTitle %>"?</p>

        <form action="/<%= bookId %>/delete" method="POST">
            <button type="submit">Yes, Delete Book</button>
            <a href="/" class="btn-cancel">Cancel</a>
    </div>
</body>
</html>