<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <a href="/genres/newgenre">New Genre</a>
        <h1>Genre List</h1>
        <div class="genre-list"></div>
        <% genres.forEach (genre=> { %>

            <div class="genre-item">
                <%= genre.name %>
                <form action="/genres/<%= genre.id %>/delete" method="POST" onsubmit="return confirm('Are you sure you want to delete this genre?');">
                    <button type="submit">Delete</button>
                </form>
            </div>

            <% }) %>
    </div>
    </div>
</body>

</html>