<header class="header">
    <div class="site-icon">
        <a href="/"><img src="/images/site-icon.jpeg" alt="Book Inventory"></a>
    </div>
    <div class="site-title">
        <h1>Book Inventory</h1>
    </div>
</header>