<div class="filters">
    <form action="/" method="GET">
        <select name="genreName" id="genreName" onchange="this.form.submit()">
            <option value="">All Genres</option>
            <% allGenres.forEach(genre=> { %>
                <option value="<%= genre.name %>" <%=selectedGenre===genre.name ? 'selected' : '' %>>
                    <%= genre.name %>
                </option>
                <% }); %>
        </select>
        <a href="/genres">Manage</a>
    </form>
</div>