.book-container {
  margin: 50px auto;
  background-color: var(--bg-alt);
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  gap: 30px;
}

.book-image {
  flex: 1;
}

.book-image img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.book-info {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.book-info h1 {
  margin-top: 0;
}

.details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 8px;
}

.genres {
  margin: 10px 0;
}

.genre-badge {
  display: inline-block;
  background-color: var(--accent);
  color: var(--bg);
  border-radius: 4px;
  padding: 4px 8px;
  margin-right: 5px;
  font-size: 0.9rem;
}

.description {
  padding: 20px 0;
}

.action-buttons {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.action-delete, .action-edit, .action-back {
  display: flex;
}

.action-back {
  flex: 1;
  justify-content: flex-end;
}

.back-link, .edit-link, .delete-button {
  padding: 10px;
  color: var(--accent);
  background-color: var(--dark-gray);
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
}

.back-link:hover, .edit-link:hover, .delete-button:hover {
  background-color: var(--darker-gray);
}

@media screen and (max-width: 600px) {
  .book-container {
    flex-direction: column;
  }
}