/* css reset */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
ul,
li,
ol {
  padding-left: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
  border: none;
  background: none;
}

/* own css */

:root {
  --bg: #121212;
  --bg-alt: #1e1e1e;
  --bg-alt-darker: #1b1b1b;
  --fg: #faf9f6;
  --accent: #c6fbbb;
  --accent-darker: #9bc593;
  --gray: #979797;
  --dark-gray: #393939;
  --darker-gray: #2c2c2c;
  --light-gray: #b2b2b2;
}

@font-face {
    font-family: jost;
    src: url('/fonts/jost-variable.ttf') format('truetype');
}

@font-face {
    font-family: playfair;
    src: url('/fonts/playfair-variable.ttf') format('truetype');
}

@font-face {
    font-family: quicksand;
    src: url('/fonts/quicksand-variable.ttf') format('truetype');
}

body {
    background-color: var(--bg);
    color: var(--fg);
    font-family: quicksand, sans-serif;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}

.site-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.genre-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.back-button a {
  display: flex;
  align-items: center;  
  justify-content: center; 
  padding: 10px;
  border-radius: 50%;     
  background-color: var(--dark-gray);
  transition: background-color 0.3s ease;
}

.back-button a:hover {
  background-color: var(--darker-gray);
}

.back-button svg {
  stroke: var(--accent);
}

.add-genre-button a {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    border-radius: 8px;
    background-color: var(--accent);
    color: var(--bg);
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.add-genre-button a:hover {
    background-color: var(--accent-darker);
}

.genre-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
}

.genre-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--bg-alt);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.genre-item:hover {
    background-color: var(--bg-alt-darker);
}

.genre-name {
    font-weight: 700;
}

.genre-delete svg {
    stroke: var(--gray);
    transition: stroke 0.3s ease;
}

.genre-delete:hover svg {
    stroke: var(--accent);
}