/* css reset */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
ul,
li,
ol {
  padding-left: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

/* own css */

:root {
  --bg: #121212;
  --bg-alt: #1e1e1e;
  --fg: #faf9f6;
  --accent: #c6fbbb;
  --accent-darker: #9bc593;
  --gray: #979797;
  --dark-gray: #393939;
  --darker-gray: #2c2c2c;
  --light-gray: #b2b2b2;
}

@font-face {
    font-family: jost;
    src: url('/fonts/jost-variable.ttf') format('truetype');
}

@font-face {
    font-family: playfair;
    src: url('/fonts/playfair-variable.ttf') format('truetype');
}

@font-face {
    font-family: quicksand;
    src: url('/fonts/quicksand-variable.ttf') format('truetype');
}

body {
    background-color: var(--bg);
    color: var(--fg);
    font-family: quicksand, sans-serif;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}

.site-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.main-content-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.filters {
    display: flex;
    align-items: center;
    gap: 12px;
}

.filter-form select {
    background-color: var(--dark-gray);
    color: var(--fg);
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
}

.edit-genre-button {
    color: var(--accent);
    background-color: var(--dark-gray);
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.edit-genre-button:hover {
    background-color: var(--darker-gray);
}

.add-book-link {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--accent);
    color: var(--bg);
    padding: 10px 16px;
    border-radius: 8px;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
}

.add-book-link svg {
    stroke: var(--bg);
}

.add-book-link:hover {
    background-color: var(--accent-darker);
}

/* .books-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.book-card {
    flex: 1;
    min-width: 240px;
}

.book-card img {
    width: 100%;
    height: 420px;
    object-fit: cover;
} */

.books-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 40px;

    /* padding: 40px;
    background-color: var(--bg-alt);
    border-radius: 12px; */
}

.book-card {
    background-color: var(--bg-alt);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.book-card img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.book-info {
    padding: 16px;
}

.book-title {
    font-size: 1.3rem;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.book-author {
    color: var(--light-gray);
    padding-top: 8px;
    font-size: 1rem;
}

.book-actions  {
    display: flex;
    padding: 16px;
}

.book-actions a {
    display: inline-flex;
}

.book-actions svg {
    transition: stroke 0.3s;
}

.book-actions a:hover svg {
    stroke: var(--accent);
}

.action-delete {
    flex: 1;
    padding-left: 12px;
}