.main-content-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.filters {
    display: flex;
    align-items: center;
    gap: 12px;
}

.filter-form select {
    background-color: var(--dark-gray);
    color: var(--fg);
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
}

.edit-genre-button {
    color: var(--accent);
    background-color: var(--dark-gray);
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.edit-genre-button:hover {
    background-color: var(--darker-gray);
}

.add-book-link {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--accent);
    color: var(--bg);
    padding: 10px 16px;
    border-radius: 8px;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
}

.add-book-link svg {
    stroke: var(--bg);
}

.add-book-link:hover {
    background-color: var(--accent-darker);
}

/* .books-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.book-card {
    flex: 1;
    min-width: 240px;
}

.book-card img {
    width: 100%;
    height: 420px;
    object-fit: cover;
} */

.books-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 40px;

    /* padding: 40px;
    background-color: var(--bg-alt);
    border-radius: 12px; */
}

.book-card {
    background-color: var(--bg-alt);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.book-card img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.book-info {
    padding: 16px;
}

.book-title {
    font-size: 1.3rem;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.book-author {
    color: var(--light-gray);
    padding-top: 8px;
    font-size: 1rem;
}

.book-genres {
    margin-top: 8px;
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
}

.book-genre {
    display: flex;
    align-items: center;
    background-color: var(--darker-gray);
    color: var(--gray);
    border-radius: 6px;
    padding: 2px 8px;
    font-size: 0.7rem;
}

.book-actions  {
    display: flex;
    padding: 4px 16px 16px 16px;
}

.book-actions a {
    display: inline-flex;
}

.book-actions svg {
    stroke: var(--fg);
    transition: stroke 0.3s;
}

.book-actions a:hover svg, .book-actions button:hover svg {
    stroke: var(--accent);
}

.action-delete {
    flex: 1;
    padding-left: 12px;
}

.action-delete button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}